services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - "5001:5000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=5000
      - COMPOSE_PROJECT_NAME=job-queue-system

  worker:
    build:
      context: .
      dockerfile: ./worker/Dockerfile
    depends_on:
      - redis
      - api
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - COMPOSE_PROJECT_NAME=job-queue-system

  dashboard:
    build:
      context: ./dashboard/frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - api
